
.alert-hidden, .hidden{
display: none;
}
.register-box {
    width: 500px;
    margin-bottom: 100px;
}
div#dataTable_wrapper {
    margin-bottom: 100px;
}

@media (max-width:768px){
	.register-box {
		width:740px;
	}	
}
@media (max-width:640px){
	.register-box {
		width:600px;
	}

}
@media (max-width:480px){
	.register-box {
		width:460px;
	}
	
}
@media (max-width: 320px){
	.register-box {
		width:300px;
	}
	
}

.wrapper-sec {
    max-width: 768px;
    margin: auto;
    padding: 34px 20px;
    border: 1px solid #ccc;
    margin-bottom: 145px;
    margin-top: 20px;
}
.table-bordered {
    border: 1px solid #060606 !important;
}
input.borderBottom {
    border: 0;
    border-bottom: 1px solid #424141;
	box-shadow:none;
	outline:none;
}
.pooja-booking-form input[type="checkbox"]
{
	margin-left:15px;
}
.pooja-booking-form .col-sm-12.charges {
	padding: 30px 15px;
}

#pooja_booking_form label,
#pooja_booking_form input[type=checkbox],
#pooja_booking_form input[type=radio]
{
	cursor: pointer;
}

.sidebar.navbar-nav .nav-item .nav-link.active i,
.sidebar.navbar-nav .nav-item .nav-link.active span,
.sidebar.navbar-nav .nav-item.dropdown.show .dropdown-toggle i::before,
.sidebar.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after
{
	color:#fff;
}

form#termsandconditions {
    margin-bottom: 30px;
}

.wrapper-sec {
    max-width: 768px;
    margin: auto;
    padding: 34px 20px;
    border: 1px solid #ccc;
    margin-bottom: 145px;
    margin-top: 20px;
}